packages/
bin/
obj/
.fake/
/.vs/NADAE/v14/*.suo
build/
test/
!tools/
tools/*
!tools/BuildTools/
!tools/NADAE/
.sonarqube/
/Command.bat
/.vs/NADAE.Test/v14
*.suo
/.vs
/*.user
/Share/StartTeam/nuget/*.nupkg
*.nupkg
*.user
*.dll
*/NugetAssets/
*.resourcesConfig